<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mba.tabtry">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Namaz Time"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape">

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Prefs"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mba.tabtry.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReminderPrefs"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mba.tabtry.REMINDERPREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LocationTracker" />

        <activity
            android:name=".ReminderActivity"
            android:excludeFromRecents="true" />

        <receiver
            android:name=".ReminderReciever"
            android:process=":remote" />

    </application>

</manifest>
